* {
  margin: 0;
  padding: 0;
}

.main{
  height: 100vh;
  margin: 0;
  background-color: black;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}
.code-editor{
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 0rem 0.5rem 0rem 0.5rem;
}
.code-header{
  height: 35px;
  background-color: orange;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
}

.right{
  grid-column: 2/3;
  grid-row: 1/3;
  display: grid;
  grid-template-rows: 50% 50%;
}
.input {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.output {
  padding: 1rem 1rem 1rem 1rem;
}