* {
    margin: 0;
    padding: 0;
  }
  .container{
    height: 100vh;
    width: 100%;
    /* background-color: black; */
    background-color: #fffbf5;
    padding: 0rem 0.5rem 1rem 0rem;
    font-family: 'Poppins';
  }
  
  .main{
    margin: 0;
    display: grid;
    height: 100vh;
    grid-template-columns: 65% 30%;
    grid-template-rows: auto; 
    column-gap: 2rem;
  }
  .code-editor{
    grid-column: 1/2;
    /* height: 100%; */
    height: fit-content;
    padding: 0rem 0 0rem 0.5rem;
    /* border: 3px solid #7743DB; */
  }
  .code-header{
    height: 35px;
    /* background-color:  #C3ACD0; */
    /* background-color: orange; */
    background-color: #C3ACD0;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1.5rem 0px 1.5rem;
  }
  .run-btn{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
  }
  
  .right{
    display: grid;
    grid-column: 2/3;
    max-width: 100%;
    grid-template-rows: 40% 15% 20%;
    box-sizing: border-box;
    padding-top: 2rem;
  }
  .code-input {
    margin-top: 0.75rem;
    width: 100%;
    background-color: #C3ACD0;
    border-radius: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
  }
  .header{
    padding: none;
    margin: none;
    color: white;
    text-transform: uppercase;
}
.custom-code-input {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  resize: none;
  padding: 1rem;
  box-sizing: border-box;
}
.input-container {
  display: flex;
  align-items: center;
  
}

.custom-input {
  width: 100%;
  padding-left: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.custom-input:focus {
  border-color: #3498db;
}
