* {
    margin: 0;
    padding: 0;
  }
  .container{
    height: 100vh;
    width: 100%;
    background-color: black;
    padding: 1rem 0.5rem 1rem 0.5rem;
    font-family: 'Poppins';
  }
  
  .main{
    margin: 0;
    display: grid;
    height: 100vh;
    grid-template-columns: 65% 30%;
    grid-template-rows: auto; 
  }
  .code-editor{
    grid-column: 1/2;
    height: 100%;
    padding: 0rem 0 0rem 0.5rem;
  }
  .code-header{
    height: 35px;
    background-color: orange;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1.5rem 0px 1.5rem;
  }
  
  .right{
    display: grid;
    grid-column: 2;
    max-width: 100%;
    grid-template-rows: 40% 20% 20%;
  }
  .input-box {
    display: grid;
    place-content: center;
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 0rem;
    max-width: 450px;
    border: 5px solid red;
  }
  .header{
    padding: none;
    margin: none;
    color: white;
    text-transform: uppercase;
}
  
